@model Website_Project_Agile.ViewModel.ShoppingListViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ShoppingList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <ul>
            @foreach (var item in Model.Products)
            {
                <li>@item.Name Aantal: @item.Amount       <a asp-controller="Shoppinglist_Product" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
            }
        </ul>
        <dd class="col-sm-2">
            <a asp-controller="Shoppinglist_Product" asp-action="Create" asp-route-idShoppingList="@Model.id">Product Toevoegen</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
